#if (${swagger2Enable})
@ApiModelProperty(value = "${field.column_comment}")
#elseif(${swagger3Enable})
@Schema(description = "${field.column_comment}")
#else
/**
* ${field.column_comment}
*/
#end
1111111111111111111111111111111