array:
#set($array = ["apple", "banana", "cherry"])
#foreach($arrayItem in $array)
    index:${arrayItem.index} count:${arrayItem.count} first:${arrayItem.first} last:${arrayItem.last} hasNext:${arrayItem.hasNext} item:${arrayItem}
#end
#*


map:
#set($profile = [{"username":"张三","age":18},{"username":"李四","age":19}])
profile.size = ${profile.size}
#foreach($item in $profile)
    index:${foreach.index} count:${foreach.count} first:${foreach.first} last:${foreach.last} hasNext:${foreach.hasNext} username:${item.username} age:${item.age}
#end
${profile.size}*#
